.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.error {
  color: var(--accentcolor);
  position: absolute;
  font-size: 14px;
}

@media screen and (min-width: 1440px) {
  .contactForm {
    align-items: start;
  }

  .inputGroup {
    margin-bottom: 35px;
  }
}
