.socialListGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 395px;
}

.socialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #98a5c8;
  border-radius: 100px;
  padding: 5px 11px;
  width: 162px;
}

.socialItem:last-child {
  border: none;
}

@media screen and (min-width: 1440px) {
  .socialItem {
    width: auto;
  }
}
